<section id="login">


  <div id="loginform">

    <h1>Login page</h1>

    <hr>

    <form [formGroup]="SignInForm" (ngSubmit)="SignIn(SignInForm.value)">

      <div id="email" class="text-div">
        <input type="text" id="email" name="email" formControlName="email" required>
        <label>Email</label>
      </div>

      <div id="password" class="text-div">
        <input type="password" id="password" formControlName="password" name="password" required>
        <label>Password</label>
      </div>

      <button type="submit">
        Login
      </button>

    </form>

  </div>

</section>
